<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fresh Votes Dashboard</title>
    <div th:replace="fragments/header.html :: headerElement"></div>
</head>
<body>
<div th:replace="fragments/header.html :: navElement"></div>
<div class="container mt-5">
    <div class="row align-items-center my-3">
        <div class="col-10">
            <h1>Fresh Votes Dashboard</h1>
        </div>
    </div>

    <div class="bg-light p-4">
        <div th:if="${products != null}" class="mb-5">
            <div class="row">
                <div class="col">
                    <h3>Products</h3>
                </div>
            </div>

            <div th:each="product : ${products}">
                <div class="row">
                    <div class="col">
                        <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row my-3">
        <div class="col">
            <form action="/products" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button class="btn btn-primary" id="createProduct">Create a Product</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>