<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fresh Votes Feature</title>

    <div th:replace="fragments/header.html :: headerElement"></div>
</head>
<body>
<div th:replace="fragments/header.html :: navElement"></div>
<div class="container mt-5">
    <h3>New Feature <span class="badge bg-secondary" th:text="${feature.status}">Status</span></h3>

    <form action="" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:field="${feature.id}">
        <input type="hidden" th:field="${feature.product}">
        <input type="hidden" th:field="${feature.status}">

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" th:field="${feature.title}">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="password" class="form-control" id="description"
                      th:field="${feature.description}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</div>
</body>
</html>