<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fresh Votes Products</title>

    <div th:replace="fragments/header.html :: headerElement"></div>

</head>
<body>
<div th:replace="fragments/header.html :: navElement"></div>
<div th:if="${product != null}" class="container mt-5">
    <h1>Products</h1>

    <form th:action="@{/products/{id}(id=${product.id})}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <input type="hidden" th:field="${product.id}">
        <input type="hidden" th:field="${product.user}">
        <div class="mb-3 row">
            <label for="productName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Name</label>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <input type="text" class="form-control" id="productName" th:field="${product.name}">
            </div>
        </div>
        <div class="form-check form-switch mb-3">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                   th:field="${product.published}">
            <label class="form-check-label" for="flexSwitchCheckDefault">Is product published?</label>
        </div>
        <button class="btn btn-success" type="submit">Save Product</button>
    </form>
</div>
</body>
</html>