<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fresh Votes Registration</title>

    <div th:replace="fragments/header.html :: headerElement"></div>

    <script type="text/javascript">
    <!-- jQuery initialization code, once the DOM is loaded then jQuery is initialized -->
        $(function () {
            $("#backBtn").click(function () {
               window.location.href = "/login";
            });
        });
    </script>
</head>
<body>
<div th:replace="fragments/header.html :: navElement"></div>
<div class="container mt-5">
    <form action="/register" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <div class="card w-75 mx-auto">
            <div class="card-header mb-3">
                <h3>Create an account</h3>
            </div>

            <div class="card-body">

                <div class="mb-3 row">
                    <label for="inputName" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Name</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="text" class="form-control" id="inputName" th:field="${user.name}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputUsername" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Username</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="email" class="form-control" id="inputUsername" th:field="${user.username}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputPassword" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Password</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="password" class="form-control" id="inputPassword" th:field="${user.password}">
                    </div>
                </div>

                <div class="mb-3 row">
                    <label for="inputConfirmPassword" class="col-sm-4 col-md-3 col-lg-2 col-form-label">Confirm
                        Password</label>
                    <div class="col-sm-8 col-md-9 col-lg-10">
                        <input type="password" class="form-control" id="inputConfirmPassword">
                    </div>
                </div>

                <div class="d-grid gap-2 d-md-block">
                    <button class="btn btn-secondary" type="button" id="backBtn">Back</button>
                    <button class="btn btn-info" type="submit" id="createAccount">Create Account</button>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>